<header>
  <mat-toolbar id="header" class="align-flex-end mat-background-accent">
    <mat-toolbar-row class="text"><span class="mat-title">SimpleSynth App</span></mat-toolbar-row>
  </mat-toolbar>
</header>
<body class="flex flex-app mat-background-primary mat-app-background">

  <main id="main">

    <div id="filterFlow" class="">

    </div>

<!--    <app-filter-list></app-filter-list>-->

    <app-midi-keyboard></app-midi-keyboard>

  </main>

  <footer id="footer" class="">
    <p>Created By G.Karetas, O.Bousoulas</p>
  </footer>
</body>
